<template>
    <div>
        <div class="mb-4">
            <img class="avatar" :src="author.avatar" v-if="author.avatar">
            <span class="avatar" v-else>{{ author.name.charAt(0) }}</span>
            {{ author.name }}

            <div class="float-right" v-if="showSubscribeButton">
                <div class="btn-group btn-group-sm" v-if="subscription">
                    <button class="btn btn-secondary text-uppercase" @click="unsubscribe">Subscribed</button>
                    <button class="btn btn-secondary" title="Notifications Turned On" @click="disableNotifications" v-if="subscription.enable_notifications"><i class="fa fa-bell"></i></button>
                    <button class="btn btn-secondary" title="Notifications Turned Off" @click="enableNotifications" v-else><i class="fa fa-bell-slash"></i></button>
                </div>
                <button class="btn btn-danger btn-sm text-uppercase" @click="subscribe" v-else>Subscribe</button>
            </div>
        </div>
        <div class="recipe-list">
            <div
                    class="recipe-card mb-4"
                    v-for="recipe in recipes"
                    :key="recipe.id"
            >
                <div class="clearfix">
                    <router-link :to="`/recipes/${recipe.id}`" class="recipe-card__preview float-left">
                        <img class="rounded" :src="recipe.thumbnail"/>
                    </router-link>
                    <div>
                        <div class="recipe-card__category">{{ recipe.category.name }}</div>
                        <div class="recipe-card__cuisine text-muted">{{ recipe.cuisine.name }} Cusine</div>
                        <div class="recipe-card__name">{{ recipe.name }}</div>
                        <div class="recipe-card__short-description mb-2">{{ recipe.short_description }}</div>
                        <div>
                            <div class="recipe-card__helpings mr-2">
                                <div class="fa fa-spoon"></div><span>{{ recipe.number_of_servings }} helping{{ recipe.number_of_servings > 1 ? 's' : ''}}</span>
                            </div>
                            <div class="recipe-card__time"><i class="fa fa-clock-o"></i><span>{{ recipe.formatted_cooking_time }}</span></div>
                        </div>
                    </div>
                </div>
                <div class="recipe-card__bottom-block clearfix">
                    <div class="recipe-card__totals">
                        <button @click="removeFromFavorites(recipe)" class="float-right ml-4" v-if="recipe.is_favorite">
                            <i class="fa fa-heart mr-2"></i>
                            {{ recipe.favorite_count }}
                        </button>
                        <button @click="addToFavorites(recipe)" class="float-right ml-4" v-else>
                            <i class="fa fa-heart-o mr-2"></i>
                            {{ recipe.favorite_count }}
                        </button>
                        <span class="float-right ml-4"><i class="fa fa-comment mr-2"></i>{{ recipe.comments_count }}</span>
                        <button @click="dislike(recipe)" class="float-right ml-2">
                            <i class="fa fa-thumbs-down mr-2" :class="{ active: recipe.is_disliked }"></i>{{ recipe.dislikes_count }}
                        </button>
                        <button @click="like(recipe)" class="float-right">
                            <i class="fa fa-thumbs-up mr-2" :class="{ active: recipe.is_liked }"></i>{{ recipe.likes_count }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="text-center margin-bottom-25">
                <div class="d-inline-block">
                    <pagination
                            :pagination="pagination"
                            @pagechanged="getRecipes"
                    >
                    </pagination>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { get, post, del } from '../../helpers/api'
    import Auth from '../../auth'

    export default {
        created() {
            this.getRecipes();
            this.getAuthor();
        },
        data() {
            return {
                Auth,
                author: {
                    name: '',
                    avatar: ''
                },
                recipes: [],
                pagination: {
                    current_page: 1
                },
                showSubscribeButton: false,
                subscription: null
            }
        },
        methods: {
            getAuthor() {
                get(`/api/users/${this.$route.params.authorId}`)
                    .then((response) => {
                        this.author = response.data.data;

                        if (Auth.logged()) {
                            get('/api/users/self/subscriptions')
                                .then((response) => {
                                    this.subscription = response.data.data[this.author.id];
                                    this.showSubscribeButton = this.author.id != Auth.user_id;
                                })
                        }
                    })
            },
            getRecipes() {
                get(`/api/users/${this.$route.params.authorId}/recipes?page=${this.pagination.current_page}`)
                    .then((response) => {
                        this.recipes = response.data.data;
                        this.pagination = response.data.meta
                    })
            },
            addToFavorites(recipe) {
                get(`/api/recipes/${recipe.id}/favoritize`)
                    .then((response) => {
                        recipe.is_favorite = true;
                        recipe.favorite_count = response.data.data.favorite_count;
                    })
            },
            removeFromFavorites(recipe) {
                get(`/api/recipes/${recipe.id}/unfavoritize`)
                    .then((response) => {
                        recipe.is_favorite = false;
                        recipe.favorite_count = response.data.data.favorite_count;
                    })
            },
            like(recipe) {
                get(`/api/recipes/${recipe.id}/like`)
                    .then((response) => {
                        recipe.likes_count = response.data.data.likes_count;
                        recipe.dislikes_count = response.data.data.dislikes_count;
                        recipe.is_liked = response.data.data.is_liked;
                        recipe.is_disliked = response.data.data.is_disliked;
                    })
            },
            dislike(recipe) {
                get(`/api/recipes/${recipe.id}/dislike`)
                    .then((response) => {
                        recipe.likes_count = response.data.data.likes_count;
                        recipe.dislikes_count = response.data.data.dislikes_count;
                        recipe.is_liked = response.data.data.is_liked;
                        recipe.is_disliked = response.data.data.is_disliked;
                    })
            },
            subscribe() {
                post('/api/users/self/subscriptions', { author_id: this.author.id })
                    .then((response) => {
                        if (response.data.success) {
                            this.subscription = response.data.data
                        }
                    })
            },
            unsubscribe() {
                del(`/api/users/self/subscriptions/${this.author.id}`)
                    .then((response) => {
                        if (response.data.success) {
                            this.subscription = null
                        }
                    })
            },
            enableNotifications() {
                post(`/api/users/self/subscriptions/${this.author.id}?_method=PUT`, { enable_notifications: 1})
                    .then((response) => {
                        if (response.data.success) {
                            this.subscription.enable_notifications = 1
                        }
                    })
            },
            disableNotifications() {
                post(`/api/users/self/subscriptions/${this.author.id}?_method=PUT`, { enable_notifications: 0})
                    .then((response) => {
                        if (response.data.success) {
                            this.subscription.enable_notifications = 0
                        }
                    })
            }
        }
    }
</script>