<template>
    <div class="recipe-list">
        <div
                class="recipe-card mb-4"
                v-for="recipe in recipes"
                :key="recipe.id"
        >
            <div class="clearfix">
                <router-link :to="`/recipes/${recipe.id}`" class="recipe-card__preview float-left">
                    <img class="rounded" :src="recipe.thumbnail"/>
                </router-link>
                <div>
                    <div class="recipe-card__category">{{ recipe.category.name }}</div>
                    <div class="recipe-card__cuisine text-muted">{{ recipe.cuisine.name }} Cusine</div>
                    <div class="recipe-card__name">{{ recipe.name }}</div>
                    <div class="recipe-card__short-description mb-2">{{ recipe.short_description }}</div>
                    <div>
                        <div class="recipe-card__helpings mr-2">
                            <div class="fa fa-spoon"></div><span>{{ recipe.number_of_servings }} helping{{ recipe.number_of_servings > 1 ? 's' : ''}}</span>
                        </div>
                        <div class="recipe-card__time"><i class="fa fa-clock-o"></i><span>{{ recipe.formatted_cooking_time }}</span></div>
                    </div>
                </div>
                <div class="recipe-card__actions">
                    <router-link :to="`/recipes/${recipe.id}/edit`"><i class="fa fa-pencil"></i></router-link>
                    <button @click="confirmDelete(recipe.id)"><i class="fa fa-trash"></i></button>
                </div>
            </div>
            <div class="recipe-card__bottom-block clearfix">
                <div class="recipe-card__author float-left">
                    <router-link class="mr-2" :to="`/author/${recipe.author.id}`">
                        <img class="avatar" :src="recipe.author.avatar" v-if="recipe.author.avatar">
                        <span class="avatar" v-else>{{ recipe.author.name.charAt(0) }}</span>
                    </router-link>Recipe by {{ recipe.author.name }}
                </div>
                <div class="recipe-card__totals">
                    <button @click="removeFromFavorites(recipe)" class="float-right ml-4">
                        <i class="fa fa-heart mr-2"></i>
                        {{ recipe.favorite_count }}
                    </button>
                    <span class="float-right ml-4"><i class="fa fa-comment mr-2"></i>{{ recipe.comments_count }}</span>
                    <button @click="dislike(recipe)" class="float-right ml-2">
                        <i class="fa fa-thumbs-down mr-2" :class="{ active: recipe.is_disliked }"></i>{{ recipe.dislikes_count }}
                    </button>
                    <button @click="like(recipe)" class="float-right">
                        <i class="fa fa-thumbs-up mr-2" :class="{ active: recipe.is_liked }"></i>{{ recipe.likes_count }}
                    </button>
                </div>
            </div>
        </div>
        <div class="text-center margin-bottom-25" v-if="pagination.total">
            <div class="d-inline-block">
                <pagination
                        :pagination="pagination"
                        @pagechanged="getRecipes"
                >
                </pagination>
            </div>
        </div>
    </div>
</template>
<script>
    import { get, del } from '../../helpers/api'

    export default {
        created() {
            this.getRecipes()
        },
        data() {
            return {
                recipes: [],
                pagination: {
                    current_page: 1
                }
            }
        },
        methods: {
            getRecipes() {
                get(`/api/users/self/favorites?page=${this.pagination.current_page}`)
                    .then((response) => {
                        this.recipes = response.data.data;
                        this.pagination = response.data.meta;
                    })
            },
            removeFromFavorites(recipe) {
                get(`/api/recipes/${recipe.id}/unfavoritize`)
                    .then((response) => {
                        this.getRecipes()
                    })
            },
            like(recipe) {
                get(`/api/recipes/${recipe.id}/like`)
                    .then((response) => {
                        recipe.likes_count = response.data.data.likes_count;
                        recipe.dislikes_count = response.data.data.dislikes_count;
                        recipe.is_liked = response.data.data.is_liked;
                        recipe.is_disliked = response.data.data.is_disliked;
                })
            },
            dislike(recipe) {
                get(`/api/recipes/${recipe.id}/dislike`)
                    .then((response) => {
                        recipe.likes_count = response.data.data.likes_count;
                        recipe.dislikes_count = response.data.data.dislikes_count;
                        recipe.is_liked = response.data.data.is_liked;
                        recipe.is_disliked = response.data.data.is_disliked;
                })
            }
        }
    }
</script>