<template>
    <div class="content">
        <h3 class="mb-4">{{ action }} Recipe</h3>
        <div class="row">
            <div class="col-lg-6">
                <form @submit.prevent="save" novalidate>
                    <img class="img-thumbnail mb-2" :src="recipe.thumbnail" v-show="recipe.thumbnail"/>
                    <div class="form-group">
                        <label class="custom-file">
                            <input type="file" class="custom-file-input" :class="{ 'is-invalid' : errors.image }" @change="fileChanged">
                            <span class="custom-file-control"></span>
                        </label>
                        <div class="invalid-feedback d-block" v-if="errors.image">
                            {{ errors.image[0] }}
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" :class="{ 'is-invalid' : errors.name }" type="text" placeholder="Recipe Name" v-model="recipe.name"/>
                        <div class="invalid-feedback" v-if="errors.name">
                            {{ errors.name[0] }}
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" :class="{ 'is-invalid' : errors['category.id'] }" v-model="recipe.category.id">
                            <option value="">Select Category</option>
                            <option v-for="category in categories" :key="category.id" :value="category.id">{{ category.name }}</option>
                        </select>
                        <div class="invalid-feedback" v-if="errors['category.id']">
                            {{ errors['category.id'][0] }}
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" :class="{ 'is-invalid' : errors['cuisine.id']}" v-model="recipe.cuisine.id">
                            <option value="">Select Cuisine</option>
                            <option v-for="cuisine in cuisines" :key="cuisine.id" :value="cuisine.id">{{ cuisine.name }}</option>
                        </select>
                        <div class="invalid-feedback" v-if="errors['cuisine.id']">
                            {{ errors['cuisine.id'][0] }}
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" :class="{ 'is-invalid' : errors.short_description }" placeholder="Short Description" v-model="recipe.short_description"></textarea>
                        <div class="invalid-feedback" v-if="errors.short_description">
                            {{ errors.short_description[0] }}
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" :class="{ 'is-invalid' : errors.description }" placeholder="Instructions" v-model="recipe.description"></textarea>
                        <div class="invalid-feedback" v-if="errors.description">
                            {{ errors.description[0] }}
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" :class="{ 'is-invalid' : errors.number_of_servings }" type="text" placeholder="Number of Servings" v-model="recipe.number_of_servings"/>
                        <div class="invalid-feedback" v-if="errors.number_of_servings">
                            {{ errors.number_of_servings[0] }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <input class="form-control" type="text" placeholder="Calories" v-model="recipe.calories"/>
                            </div>
                            <div class="col">
                                <input class="form-control" type="text" placeholder="Proteins" v-model="recipe.proteins"/>
                            </div>
                            <div class="col">
                                <input class="form-control" type="text" placeholder="Fats" v-model="recipe.fats"/>
                            </div>
                            <div class="col">
                                <input class="form-control" type="text" placeholder="Carbs" v-model="recipe.carbs"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group"> 
                        <div class="row mt-2" v-for="(recipeIngredient, index) in recipe.ingredients" :key="recipeIngredient.id">
                            <div class="col">
                                <select class="form-control" :class="{ 'is-invalid' : errors[`ingredients.${index}.id`] }" v-model="recipeIngredient.id">
                                    <option v-for="ingredient in ingredients" :key="ingredient.id" :value="ingredient.id">{{ ingredient.name }}</option>
                                </select>
                                <div class="invalid-feedback" v-if="errors[`ingredients.${index}.id`]">
                                    {{ errors[`ingredients.${index}.id`][0] }}
                                </div>
                            </div>
                            <div class="col">
                                <input class="form-control" :class="{ 'is-invalid' : errors[`ingredients.${index}.quantity`] }" type="text" placeholder="Quantity" v-model="recipeIngredient.quantity"/>
                                <div class="invalid-feedback" v-if="errors[`ingredients.${index}.quantity`]">
                                    {{ errors[`ingredients.${index}.quantity`][0] }}
                                </div>
                            </div>
                            <div class="col">
                                <select class="form-control" :class="{ 'is-invalid' : errors[`ingredients.${index}.unit`] }" v-model="recipeIngredient.unit">
                                    <option v-for="unit in units" :key="unit.id" :value="unit.name">{{ unit.name }}</option>
                                </select>
                                <div class="invalid-feedback" v-if="errors[`ingredients.${index}.unit`]">
                                    {{ errors[`ingredients.${index}.unit`][0] }}
                                </div>
                            </div>
                            <button type="button" class="btn btn-link text-danger" style="cursor: pointer" @click="removeIngredient(index)"><i class="fa fa-close"></i></button>
                        </div>
                        <div class="text-danger" v-if="errors.ingredients">
                            {{ errors.ingredients[0] }}
                        </div>
                        <button type="button" class="btn btn-sm btn-secondary mt-3" @click="addIngredient">Add ingredient</button>
                    </div>
                    <div class="form-group">
                        <input class="form-control" :class="{ 'is-invalid' : errors.cooking_time }" type="text" placeholder="Time" v-model="recipe.cooking_time" />
                        <div class="invalid-feedback" v-if="errors.cooking_time">
                            {{ errors.cooking_time[0] }}
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" :disabled="isProcessing">Submit</button>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    import { post, get } from '../../helpers/api'
    import { objectToFormData } from '../../helpers'

    export default {
        data() {
            return {
                recipe: {
                    ingredients: [],
                    cuisine: {
                        id: ''
                    },
                    category: {
                        id: ''
                    },
                    thumbnail: null
                },
                ingredients: [],
                units: [],
                categories: [],
                cuisines: [],
                isProcessing: false,
                errors: {},
                action: 'Create',
                actionUrl: '/api/recipes'
            }
        },
        created() {
            this.getIngredients();
            this.getUnits();
            this.getCuisines();
            this.getCategories();

            if (this.$route.meta.mode == 'edit') {
                this.action = 'Edit';
                this.actionUrl = `/api/recipes/${this.$route.params.id}?_method=PUT`;

                get(`/api/recipes/${this.$route.params.id}`)
                    .then((response) => {
                        this.recipe = response.data.data;
                    })
            }
        },
        methods: {
            save() {
                let data = objectToFormData(this.recipe);
                this.isProcessing = true;

                post(this.actionUrl, data)
                    .then((response) => {
                        if (response.data.success) {
                            this.$set(this.recipe, 'image', null);
                            this.$router.push('/my-recipes')
                        }

                        this.isProcessing = false
                    })
                    .catch((error) => {
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors
                        }
                        this.isProcessing = false
                    })
            },
            getIngredients() {
                get('/api/ingredients')
                    .then((response) => {
                        this.ingredients = response.data.data
                    })
            },
            getUnits() {
                get('/api/units')
                    .then((response) => {
                        this.units = response.data.data
                    })
            },
            getCuisines() {
                get('/api/cuisines')
                    .then((response) => {
                        this.cuisines = response.data.data
                    })
            },
            getCategories() {
                get('/api/categories')
                    .then((response) => {
                        this.categories = response.data.data
                    })
            },
            addIngredient() {
                this.recipe.ingredients.push({
                    name: '',
                    quantity: ''
                })
            },
            removeIngredient(index) {
                if (this.recipe.ingredients.length) {
                    this.recipe.ingredients.splice(index, 1)
                }
            },
            fileChanged(e) {
                let files = e.target.files;

                if (files && files.length > 0) {
                    this.$set(this.recipe, 'image', files[0]);

                    post('/api/recipes/thumbnail', objectToFormData({ image: files[0] }))
                        .then((response) => {
                            if (response.data.success) {
                                this.recipe.thumbnail = response.data.data.thumbnail;
                                this.errors.image = null;
                            }
                        })
                        .catch((error) => {
                            if (error.response.status == 422) {
                                this.errors = error.response.data.errors;
                                this.recipe.thumbnail = null
                            }
                        })
                }
            }
        }
    }
</script>