<template>
    <div class="recipe-list">
        <div
                class="recipe-card mb-4"
                v-for="recipe in recipes"
                :key="recipe.id"
        >
            <div class="clearfix">
                <router-link :to="`/recipes/${recipe.id}`" class="recipe-card__preview float-left">
                    <img class="rounded" :src="recipe.thumbnail"/>
                </router-link>
                <div>
                    <div class="recipe-card__category">{{ recipe.category.name }}</div>
                    <div class="recipe-card__cuisine text-muted">{{ recipe.cuisine.name }} Cusine</div>
                    <div class="recipe-card__name">{{ recipe.name }}</div>
                    <div class="recipe-card__short-description mb-2">{{ recipe.short_description }}</div>
                    <div>
                        <div class="recipe-card__helpings mr-2">
                            <div class="fa fa-spoon"></div><span>{{ recipe.number_of_servings }} helping{{ recipe.number_of_servings > 1 ? 's' : ''}}</span>
                        </div>
                        <div class="recipe-card__time"><i class="fa fa-clock-o"></i><span>{{ recipe.formatted_cooking_time }}</span></div>

                    </div>
                </div>
                <div class="recipe-card__actions">
                    <router-link :to="`/recipes/${recipe.id}/edit`"><i class="fa fa-pencil"></i></router-link>
                    <button @click="confirmDelete(recipe.id)"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>
        <div class="text-center margin-bottom-25" v-if="pagination.total">
            <div class="d-inline-block">
                <pagination
                        :pagination="pagination"
                        @pagechanged="getRecipes"
                >
                </pagination>
            </div>
        </div>
        <modal v-if="showModal">
            <h5 slot="header" class="modal-title">Confirm Delete</h5>
            <div slot="body">Are you sure that you want to delete this item?</div>
            <div slot="footer">
                <button type="button" class="btn btn-secondary" @click="showModal = false">Cancel</button>
                <button type="button" class="btn btn-danger" @click="removeRecipe">Yes</button>
            </div>
        </modal>
    </div>
</template>
<script>
    import { get, del } from '../../helpers/api'
    import Modal from '../../components/Modal.vue'

    export default {
        components: {
            Modal
        },
        created() {
            this.getRecipes()
        },
        data() {
            return {
                recipes: [],
                pagination: {
                    current_page: 1
                },
                removableRecipeId: null,
                showModal: false
            }
        },
        methods: {
            getRecipes() {
                get(`/api/users/self/recipes?page=${this.pagination.current_page}`)
                    .then((response) => {
                        this.recipes = response.data.data;
                        this.pagination = response.data.meta;
                    })
            },
            removeRecipe() {
                del(`/api/recipes/${this.removableRecipeId}`)
                    .then((response) => {
                        if (response.data.success) {
                            this.pagination.current_page = 1;
                            this.getRecipes();
                        }

                        this.showModal = false;
                    })
            },
            confirmDelete(recipeId) {
                this.showModal = true;
                this.removableRecipeId = recipeId;
            }
        }
    }
</script>