<template>
    <div class="content recipe">
        <div class="row">
            <div class="col-lg-8">
                <div class="mb-3">
                    <div class="recipe__author mb-3 clearfix">
                        <router-link class="mr-2" :to="`/author/${recipe.author.id}`">
                            <img class="avatar" :src="recipe.author.avatar" v-if="recipe.author.avatar">
                            <span class="avatar" v-else>{{ recipe.author.name.charAt(0) }}</span>
                        </router-link>Recipe by {{ recipe.author.name }}
                        <div class="float-right" v-if="showSubscribeButton">
                            <div class="btn-group btn-group-sm" v-if="subscription">
                                <button class="btn btn-secondary text-uppercase" @click="unsubscribe">Subscribed</button>
                                <button class="btn btn-secondary" title="Notifications Turned On" @click="disableNotifications" v-if="subscription.enable_notifications"><i class="fa fa-bell"></i></button>
                                <button class="btn btn-secondary" title="Notifications Turned Off" @click="enableNotifications" v-else><i class="fa fa-bell-slash"></i></button>
                            </div>
                            <button class="btn btn-danger btn-sm text-uppercase" @click="subscribe" v-else>Subscribe</button>
                        </div>
                    </div>
                    <h3 class="mb-3">{{ recipe.category.name }}</h3>
                    <p class="text-muted">{{ recipe.cuisine.name }} Cusine</p>
                    <p class="mt-3">{{ recipe.short_description }}</p>
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="recipe__helpings mr-2">
                                <div class="fa fa-spoon"></div><span>{{ recipe.number_of_servings }} helping{{ recipe.number_of_servings > 1 ? 's' : ''}}</span>
                            </div>
                            <div class="recipe__time"><i class="fa fa-clock-o"></i><span>{{ recipe.formatted_cooking_time }}</span></div>
                        </div>
                        <div class="recipe__totals">
                            <button @click="removeFromFavorites(recipe)" class="float-right ml-4" v-if="recipe.is_favorite">
                                <i class="fa fa-heart mr-2"></i>
                                {{ recipe.favorite_count }}
                            </button>
                            <button @click="addToFavorites(recipe)" class="float-right ml-4" v-else>
                                <i class="fa fa-heart-o mr-2"></i>
                                {{ recipe.favorite_count }}
                            </button>
                            <button @click="dislike(recipe)" class="float-right ml-2">
                                <i class="fa fa-thumbs-down mr-2" :class="{ active: recipe.is_disliked }"></i>{{ recipe.dislikes_count }}
                            </button>
                            <button @click="like(recipe)" class="float-right">
                                <i class="fa fa-thumbs-up mr-2" :class="{ active: recipe.is_liked }"></i>{{ recipe.likes_count }}
                            </button>
                        </div>
                    </div>
                </div>
                <img class="recipe__picture mb-4" :src="recipe.medium_image"/>
            </div>
            <div class="col-lg-4">
                <ul class="list-group mb-4">
                    <li class="list-group-item">
                        <h5 class="mb-1">Nutrition facts (per serving)</h5>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between"><span>Calories</span><span class="text-muted">{{ recipe.calories }} kcal</span></div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between"><span>Carbs</span><span class="text-muted">{{ recipe.carbs }} g</span></div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between"><span>Protein</span><span class="text-muted">{{ recipe.proteins }} g</span></div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between"><span>Fat</span><span class="text-muted">{{ recipe.fats }} g</span></div>
                    </li>
                </ul>
                <ul class="list-group mb-4">
                    <li class="list-group-item">
                        <h5 class="mb-1">Ingredients</h5>
                    </li>
                    <li
                        class="list-group-item"
                        v-for="ingredient in recipe.ingredients"
                        :key="ingredient.id"
                    >
                        <div class="d-flex justify-content-between"><span>{{ ingredient.name }}</span><span class="text-muted">{{ ingredient.quantity }} {{ ingredient.unit }}</span></div>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" role="tab" href="#description">Description</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="#comments">Comments</a></li>
        </ul>
        <div class="tab-content mb-4" id="myTabContent">
            <div class="tab-pane fade show active" id="description" role="tabpanel">
                <div class="mt-4">{{ recipe.description }}</div>
            </div>
            <div class="tab-pane fade" id="comments" role="tabpanel">
                <div class="mt-4">
                    <div class="comment-list">
                        <div class="comment mb-4" v-for="(comment, index) in comments">
                            <a class="float-left" href="#">
                                <img class="avatar" :src="comment.author.avatar" v-if="comment.author.avatar">
                                <span class="avatar" v-else>{{ comment.author.name.charAt(0) }}</span>
                            </a>
                            <div class="row">
                                <div class="col-lg-6">
                                    <span class="comment__author">{{ comment.author.name }}</span>
                                    <span class="comment__date ml-2">{{ comment.date }}</span>
                                    <span class="comment__edited ml-2" v-if="comment.edited">(edited)</span>
                                    <div class="comment__actions ml-2" v-if="comment.author.id == Auth.user_id && !comment.edit_mode">
                                        <button @click="comment.edit_mode = true"><i class="fa fa-pencil"></i></button>
                                        <button @click="confirmDelete(index)"><i class="fa fa-trash"></i></button>
                                    </div><br/>
                                    <div class="comment__text d-inline-block" v-if="!comment.edit_mode">{{ comment.text }}</div>
                                    <form @submit.prevent="editComment(index)" novalidate v-else>
                                        <div class="form-group">
                                            <textarea class="form-control" :class="{ 'is-invalid' : editCommentErrors[index] && editCommentErrors[index].text}" v-model="comment.text"></textarea>
                                            <div class="invalid-feedback" v-if="editCommentErrors[index] && editCommentErrors[index].text">
                                                {{ editCommentErrors[index] ? editCommentErrors[index].text[0] : '' }}
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-sm" type="submit" :disabled="isProcessing">Submit</button>
                                        <button @click="cancelCommentEditing(index)" class="btn btn-light btn-sm" type="button">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <form @submit.prevent="addComment" novalidate>
                                <div class="form-group">
                                    <textarea class="form-control" :class="{ 'is-invalid' : addCommentErrors.text }" placeholder="Leave a comment" v-model="comment.text"></textarea>
                                    <div class="invalid-feedback" v-if="addCommentErrors.text">
                                        {{ addCommentErrors.text[0] }}
                                    </div>
                                </div>
                                <input type="hidden" v-model="comment.recipe">
                                <button class="btn btn-primary" type="submit" :disabled="isProcessing">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <modal v-if="showModal">
            <h5 slot="header" class="modal-title">Confirm Delete</h5>
            <div slot="body">Are you sure that you want to delete this item?</div>
            <div slot="footer">
                <button type="button" class="btn btn-secondary" @click="showModal = false">Cancel</button>
                <button type="button" class="btn btn-danger" @click="removeComment">Yes</button>
            </div>
        </modal>
    </div>
</template>
<script>
    import { get, post, del } from '../../helpers/api'
    import Auth from '../../auth'
    import Modal from '../../components/Modal.vue'

    export default {
        components: {
            Modal
        },
        created() {
            get(`/api/recipes/${this.$route.params.id}`)
                .then((response) => {
                    this.recipe = response.data.data;
                    this.comment.recipe_id = this.recipe.id;

                    if (Auth.logged()) {
                        get('/api/users/self/subscriptions')
                            .then((response) => {
                                this.subscription = response.data.data[this.recipe.author.id];
                                this.showSubscribeButton = this.recipe.author.id != Auth.user_id;
                            })
                    }
                });

            if (Auth.logged()) {
                this.getComments()
            }
        },
        data() {
            return {
                Auth,
                recipe: {
                    author: {
                        name: '',
                        avatar: ''
                    },
                    category: {},
                    cuisine: {},
                    ingredients: []
                },
                editCommentErrors: [],
                addCommentErrors: {},
                comment: {},
                comments: [],
                removableCommentIndex: null,
                showModal: false,
                isProcessing: false,
                showSubscribeButton: false,
                subscription: null
            }
        },
        methods: {
            addToFavorites(recipe) {
                get(`/api/recipes/${recipe.id}/favoritize`)
                    .then((response) => {
                        recipe.is_favorite = true;
                        recipe.favorite_count = response.data.data.favorite_count;
                    })
            },
            removeFromFavorites(recipe) {
                get(`/api/recipes/${recipe.id}/unfavoritize`)
                    .then((response) => {
                        recipe.is_favorite = false;
                        recipe.favorite_count = response.data.data.favorite_count;
                    })
            },
            like(recipe) {
                get(`/api/recipes/${recipe.id}/like`)
                    .then((response) => {
                        recipe.likes_count = response.data.data.likes_count;
                        recipe.dislikes_count = response.data.data.dislikes_count;
                        recipe.is_liked = response.data.data.is_liked;
                        recipe.is_disliked = response.data.data.is_disliked;
                    })
            },
            dislike(recipe) {
                get(`/api/recipes/${recipe.id}/dislike`)
                    .then((response) => {
                        recipe.likes_count = response.data.data.likes_count;
                        recipe.dislikes_count = response.data.data.dislikes_count;
                        recipe.is_liked = response.data.data.is_liked;
                        recipe.is_disliked = response.data.data.is_disliked;
                    })
            },
            addComment() {
                this.isProcessing = true;

                post(`/api/comments`, this.comment)
                    .then((response) => {
                        if (response.data.success) {
                            this.comments.push(response.data.data);
                            this.comment.text = ''
                        }
                        this.isProcessing = false
                    })
                    .catch((error) => {
                        if (error.response.status == 422) {
                            this.addCommentErrors = error.response.data.errors
                        }
                        this.isProcessing = false
                    })
            },
            getComments() {
                get(`/api/recipes/${this.$route.params.id}/comments`)
                    .then((response) => {
                        this.comments = response.data.data
                    });
            },
            editComment(index) {
                this.isProcessing = true;

                post(`/api/comments/${this.comments[index].id}?_method=PUT`, this.comments[index])
                    .then((response) => {
                        if (response.data.success) {
                            this.comments.splice(index, 1, response.data.data)
                        }
                        this.isProcessing = false
                    })
                    .catch((error) => {
                        if (error.response.status == 422) {
                            this.editCommentErrors[index] = error.response.data.errors;
                        }
                        this.isProcessing = false
                    })
            },
            cancelCommentEditing(index) {
                this.editCommentErrors[index] = {};

                get(`/api/comments/${this.comments[index].id}`)
                    .then((response) => {
                        this.comments.splice(index, 1, response.data.data)
                    })
            },
            removeComment() {
                del(`/api/comments/${this.comments[this.removableCommentIndex].id}`)
                    .then((response) => {
                        if (response.data.success) {
                            this.comments.splice(this.removableCommentIndex, 1);
                        }

                        this.showModal = false
                    })
            },
            confirmDelete(index) {
                this.showModal = true;
                this.removableCommentIndex = index;
            },
            subscribe() {
                post('/api/users/self/subscriptions', { author_id: this.recipe.author.id })
                    .then((response) => {
                        if (response.data.success) {
                            this.subscription = response.data.data
                        }
                    })
            },
            unsubscribe() {
                del(`/api/users/self/subscriptions/${this.recipe.author.id}`)
                    .then((response) => {
                        if (response.data.success) {
                            this.subscription = null
                        }
                    })
            },
            enableNotifications() {
                post(`/api/users/self/subscriptions/${this.recipe.author.id}?_method=PUT`, { enable_notifications: 1})
                    .then((response) => {
                        if (response.data.success) {
                            this.subscription.enable_notifications = 1
                        }
                    })
            },
            disableNotifications() {
                post(`/api/users/self/subscriptions/${this.recipe.author.id}?_method=PUT`, { enable_notifications: 0})
                    .then((response) => {
                        if (response.data.success) {
                            this.subscription.enable_notifications = 0
                        }
                    })
            }
        }
    }
</script>