.recipe {
  &__author {
    font-size: 14px;
    color: $gray-500;

    img {
      border-radius: 50%;
      width: 40px;
    }
  }

  &__time, &__helpings {
    .fa {
      font-size: 22px;
      margin-right: 5px;
      color: $gray-400;
    }

    float: left;
    font-size: 14px;
    color: $gray-500;
  }

  &__totals {
    color: $gray-500;

    button {
      border: 0;
      background: none;
      padding: 0;
      cursor: pointer;
      color: $gray-500;

      &:focus {
        outline: none;
      }
    }

    .fa {
      color: $gray-400;
    }

    .fa-heart, .fa-heart-o {
      color: $red
    }

    .fa-thumbs-up {
      &:hover, &.active {
        color: $green;
      }
    }

    .fa-thumbs-down {
      &:hover, &.active {
        color: $red;
      }
    }
  }

  &__picture {
    max-width: 100%;
    height: auto;
  }
}

.comment {
  position: relative;

  &__author {
    font-size: 14px;
    font-weight: bold;
  }

  &__date {
    font-size: 14px;
    color: $gray-500;
  }

  &__edited {
    font-size: 13px;
    font-style: italic;
    color: $gray-500;
  }

  &__actions {
    display: inline-block;

    a, button {
      margin-right: 10px;
      font-size: 18px;
      color: $gray-400;
      border: 0;
      background: none;
      padding: 0;
      cursor: pointer;

      &:hover {
        color: $gray-500;
      }
    }
  }
}