$i: 0;
@while $i < 101 {
  .padding-top-#{$i}, .pt#{$i} {
    padding-top: $i + px;
  }
  .padding-left-#{$i}, .pl#{$i} {
    padding-left: $i + px;
  }
  .padding-bottom-#{$i}, .pb#{$i} {
    padding-bottom: $i + px;
  }
  .padding-right-#{$i}, .pr#{$i} {
    padding-right: $i + px;
  }
  .padding-#{$i}, .p#{$i} {
    padding: $i + px;
  }
  .margin-top-#{$i}, .mt#{$i} {
    margin-top: $i + px;
  }
  .margin-bottom-#{$i}, .mb#{$i} {
    margin-bottom: $i + px;
  }
  .margin-left-#{$i}, .ml#{$i} {
    margin-left: $i + px;
  }
  .margin-right-#{$i}, .mr#{$i} {
    margin-right: $i + px;
  }
  .margin-#{$i}, .m#{$i} {
    margin: $i + px;
  }

  // negative margins
  .margin-top-m#{$i}, .mtm#{$i} {
    margin-top: -$i + px;
  }
  .margin-bottom-m#{$i}, .mbm#{$i} {
    margin-bottom: -$i + px;
  }
  .margin-left-m#{$i}, .mlm#{$i} {
    margin-left: -$i + px;
  }
  .margin-right-m#{$i}, .mrm#{$i} {
    margin-right: -$i + px;
  }
  .margin-m#{$i}, .mm#{$i} {
    margin: -$i + px;
  }

  $i: $i + 5;
}
