<template>
    <div>
        <button class="btn-notification nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" @click="markAllNotificationsAsRead">
            <span class="badge badge-pill badge-danger" v-if="newNotifications.length">{{ newNotifications.length }}</span><i class="fa fa-bell" style="font-size: 19px;"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right dropdown-notifications mt-2">
            <div class="dropdown-notifications__header">
                <div class="d-flex justify-content-between">
                    <span>Notifications</span>
                    <router-link to="/account/notifications"><i class="fa fa-cog"></i></router-link>
                </div>
            </div>
            <div class="dropdown-notifications__wrapper">
                <ul class="list-group" v-if="notifications.length">
                    <li class="list-group-item" v-for="notification in notifications">
                        <router-link :to="`/recipes/${notification.recipe_id}`" class="d-flex justify-content-between">
                            <img class="avatar" :src="notification.author.avatar" v-if="notification.author.avatar"/>
                            <span class="avatar" v-else>{{ notification.author.name.charAt(0) }}</span>
                            <p>{{ notification.short_description }}</p>
                            <img :src="notification.thumbnail"/>
                        </router-link>
                    </li>
                </ul>
                <ul class="list-group" v-else>
                    <li class="list-group-item text-center text-muted">No Notifications</li>
                </ul>
            </div>
        </div>
    </div>
</template>
<script>
    import { get } from '../helpers/api'
    import Auth from '../auth'

    export default {
        created() {
            if (Auth.logged()) {
                this.getNotifications();
                this.notify();
            }
        },
        data() {
            return {
                Auth,
                notifications: []
            }
        },
        computed: {
            newNotifications() {
                let newNotifications = [];

                for (let key in this.notifications) {
                    let notification = this.notifications[key];

                    if (!notification.is_read) {
                        newNotifications.push(notification)
                    }
                }

                return newNotifications
            }
        },
        methods: {
            getNotifications() {
                get('/api/users/self/notifications')
                    .then((response) => {
                        this.notifications = response.data.data
                    })
            },
            markAllNotificationsAsRead() {
                get('/api/users/self/notifications/mark-all-read')
                    .then((response) => {
                        for (let key in this.notifications) {
                            this.notifications[key].is_read = 1
                        }
                    })
            },
            notify() {
                Echo.private(`App.User.${this.Auth.user_id}`)
                    .notification((notification) => {
                        this.notifications.unshift(notification)
                    });
            }
        }
    }
</script>