<template>
    <ul class="pagination">
        <li
            class="page-item"
            :class="{ disabled: pagination.current_page == 1 }"
        >
            <a
                class="page-link"
                href="#"
                aria-label="Previous"
                @click.prevent="changePage(pagination.current_page - 1)"
            >
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li
            class="page-item"
            :class="{ active: pagination.current_page == page}"
            v-for="page in pageInRanges"
            :key="page"
        >
            <a class="page-link" href="#" @click.prevent="changePage(page)">{{ page }}</a>
        </li>

        <li
            class="page-item"
            :class="{ disabled: pagination.current_page == pagination.last_page }"
        >
            <a
                class="page-link"
                href="#"
                aria-label="Next"
                @click.prevent="changePage(pagination.current_page + 1)"
            >
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</template>
<script>
    export default {
        props: {
            pagination: {
                type: Object,
                required: true
            },
            pageRange: {
                type: Number,
                default: 5
            }
        },
        computed: {
            pageInRanges() {
                let pageNumber = this.pagination.current_page;
                let pageCount  = this.pagination.last_page;

                let pageRange = this.pageRange;

                if (pageRange > pageCount) {
                    pageRange = pageCount;
                }

                let delta = Math.ceil(pageRange / 2);

                let lowerBound, upperBound = undefined;
                if (pageNumber - delta > pageCount - pageRange) {
                    lowerBound = pageCount - pageRange + 1;
                    upperBound = pageCount;
                } else {
                    if (pageNumber - delta < 0) {
                        delta = pageNumber;
                    }

                    let offset = pageNumber - delta;
                    lowerBound = offset + 1;
                    upperBound = offset + pageRange;
                }

                let pages = [];
                for (let pageNumber = lowerBound; pageNumber <= upperBound; pageNumber++) {
                    pages.push(pageNumber);
                }

                return pages
            }
        },
        methods : {
            changePage: function (page) {
                this.pagination.current_page = page;
                this.$emit('pagechanged')
            }
        }
    }
</script>