.fade-enter-active, .fade-leave-active {
  opacity: 1;
  @include transition($transition-fade);

  .modal-dialog {
    transform: translate(0, 0);
    @include transition($modal-transition);
  }
}

.fade-enter, .fade-leave-to {
  opacity: 0;

  .modal-dialog {
    transform: translate(0, -25%);
  }
}

.modal-dialog {
  z-index: 99999;
}