.dropdown-notifications {
  width: 400px;
  padding: 0;
  overflow: hidden;

  .avatar {
    flex-shrink: 0;
  }

  &__wrapper {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  &__header {
    background-color: $gray-200;
    padding: 0.75rem;
    font-size: 16px;

    .fa-cog {
      font-size: 24px;
      color: $gray-400;
      cursor: pointer;

      &:hover {
        color: $gray-500;
      }
    }
  }

  .list-group {
    .list-group-item {
      padding: 0.75rem;
      border-right: 0;
      border-left: 0;

      &:hover {
        background-color: $gray-100;
      }

      &:first-child {
        border-radius: 0;
        border-top: 0;
      }

      &:last-child {
        border-radius: 0;
        border-bottom: 0;
      }

      a {
        text-decoration: none;
        color: #000;

        p {
          padding: 0 10px;
          font-size: 14px;
          flex: 1;

          + img {
            height: 80px;
          }
        }
      }
    }
  }
}