.recipe-card {
  background-color: #fff;
  overflow: hidden;
  padding: 20px;
  position: relative;

  &__preview {
    width: 160px;
    height: 160px;
    margin-right: 20px;

    img[src=""] {
      display: none;
    }
  }

  &__category {
    font-size: 18px;
  }

  &__name {
    font: {
      weight: bold;
      size: 24px;
    }
  }

  &__author {
    font-size: 14px;
    color: $gray-500;

    img {
      border-radius: 50%;
      width: 40px;
    }
  }

  &__time, &__helpings {
    .fa {
      font-size: 22px;
      margin-right: 5px;
      color: $gray-400;
    }

    float: left;
    font-size: 14px;
    color: $gray-500;
  }

  &__bottom-block {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $gray-300;
  }

  &__totals {
    color: $gray-500;

    button {
      border: 0;
      background: none;
      padding: 0;
      cursor: pointer;
      color: $gray-500;

      &:focus {
        outline: none;
      }
    }

    .fa {
      color: $gray-400;
    }

    .fa-heart, .fa-heart-o {
      color: $red;
    }

    .fa-thumbs-up {
      &:hover, &.active {
        color: $green;
      }
    }

    .fa-thumbs-down {
      &:hover, &.active {
        color: $red;
      }
    }
  }

  &__actions {
    position: absolute;
    right: 10px;
    top: 20px;

    a, button {
      margin-right: 10px;
      font-size: 18px;
      color: $gray-400;
      border: 0;
      background: none;
      padding: 0;
      cursor: pointer;

      &:hover {
        color: $gray-500;
      }
    }
  }
}