<template>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1>Oops!</h1>
                <h2>404 Not Found</h2>
                <div>
                    Sorry, but the page you are looking for was either not found or does not exist. <br/>
                    Try refreshing the page or go back to the <router-link to="/">Homepage</router-link>.
                </div>
            </div>
        </div>
    </div>
</template>