@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/scss/font-awesome";
@import "utils/utils";
@import "layout/main";
@import "layout/footer";
@import "components/recipe-card";
@import "pages/recipe";
@import "components/modal";
@import "components/navbar-notifications";

body {
  background-color: rgb(245, 245, 245);
}

.container-fluid {
  max-width: 1200px;
}

.content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 28px;
}

.navbar {
  .btn-notification {
    color: rgba(255, 255, 255, 0.5);
    border: 0;
    background-color: transparent;
    padding: 0;
    position: relative;

    &:hover {
      color: rgba(255, 255, 255, 0.75);
    }

    &:focus {
      color: rgba(255, 255, 255, 1);
      outline: none;
    }

    .badge {
      font-weight: normal;
      position: absolute;
      font-size: 10px;
      top: -6px;
      right: -7px;
    }

    &.nav-link {
      .badge {
        right: 0;
      }
    }
  }
}
.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  background-color: $gray-400;
  line-height: 40px;
  font-weight: bold;
  vertical-align: middle;
  color: #fff;
  font-size: 20px;
}

.social-media {
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
    line-height: 1em;

    a {
      color: $gray-400;

      &:hover {
        color: $gray-500;
      }
    }
  }
}

[v-cloak] { display:none }