<template>
    <div class="wrap">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"><a class="navbar-brand" href="#">YumYum</a>
            <div class="dropdown d-lg-none mr-auto" v-if="logged">
                <notifications></notifications>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav">
                    <router-link tag="li" to="/" class="nav-item" exact>
                        <a class="nav-link">Recipes List<span class="sr-only">(current)</span></a>
                    </router-link>
                    <router-link tag="li" to="/popular" class="nav-item" exact>
                        <a class="nav-link" href="#">Popular Recipes</a>
                    </router-link>
                </ul>

                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <router-link tag="li" to="/favorites" class="nav-item" v-if="logged">
                        <a class="nav-link"><i class="fa fa-heart mr-2 d-lg-inline d-none" style="color: #dc3545; font-size: 18px;"></i>Favorites</a>
                    </router-link>
                    <router-link tag="li" to="/my-recipes" class="nav-item" v-if="logged">
                        <a class="nav-link">My Recipes</span></a>
                    </router-link>
                    <router-link tag="li" to="/recipes/create" class="nav-item" v-if="logged">
                        <a class="nav-link">Propose Recipe</span></a>
                    </router-link>
                    <router-link tag="li" to="/account" class="nav-item d-lg-none" v-if="logged" exact>
                        <a class="nav-link">My Account</span></a>
                    </router-link>
                    <router-link tag="li" to="/account/subscriptions" class="nav-item d-lg-none" v-if="logged">
                        <a class="nav-link">Subscriptions</span></a>
                    </router-link>
                    <li class="nav-item d-lg-none" v-if="logged">
                        <a class="nav-link" href="#" @click.stop="logout">Sign Out</a>
                    </li>
                    <router-link tag="li" to="/login" class="nav-item" v-if="guest">
                        <a class="nav-link">Login</span></a>
                    </router-link>
                </ul>
                <ul class="navbar-nav mt-2 mt-lg-0 float-lg-right d-lg-block d-none" v-if="logged">
                    <li class="nav-item dropdown">
                        <notifications></notifications>
                    </li>
                </ul>
                <ul class="navbar-nav mt-2 mt-lg-0 float-lg-right d-lg-block d-none" v-if="logged">
                    <li class="nav-item dropdown">
                        <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                            <img class="avatar" :src="user.avatar" v-if="user.avatar">
                            <span class="avatar" v-else>{{ user.name.charAt(0) }}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <router-link class="dropdown-item" to="/account" exact>My Account</router-link>
                            <router-link class="dropdown-item" to="/account/subscriptions">Subscriptions</router-link>
                            <a class="dropdown-item" @click.stop="logout" href="#">Sign Out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="alert alert-dismissible fade show" :class="['alert-' + Flash.type]" role="alert" v-if="Flash.message">
                {{ Flash.message }}
                <button type="button" class="close" aria-label="Close" @click="Flash.message = null">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <router-view @profilechanged="getUser" :key="$route.fullPath"></router-view>
        </div>
    </div>
</template>
<script>
    import { get, post, interceptors } from './helpers/api'
    import Auth from './auth'
    import Flash from './helpers/flash'
    import { urlBase64ToUint8Array }  from './helpers';
    import Notifications from './components/Notifications.vue'

    export default {
        components: {
            Notifications
        },
        created() {
            interceptors((error) => {
                if (error.response.status === 401) {
                    Auth.clear();
                    this.$router.push('/login')
                }
            });

            Auth.init();

            if (Auth.logged()) {
                this.getUser();

                this.registerServiceWorker()
                    .then(() => this.getPushSubscription())
                    .then((subscription) => this.subscribeUserToPush(subscription))
                    .catch(e => { console.warn(e) })
            }
        },
        data() {
            return {
                Auth,
                Flash,
                user : {
                    name: '',
                    avatar: ''
                }
            }
        },
        computed: {
            logged() {
                return this.Auth.logged()
            },
            guest() {
                return !this.logged
            }
        },
        methods: {
            logout() {
                post('/api/logout')
                    .then((response) => {
                        if (response.data.success) {
                            Auth.clear();
                            this.$router.push('/login')
                        }
                    })
            },
            getUser() {
                get('/api/users/self')
                    .then((response) => {
                        this.user = response.data.data
                    })
            },
            registerServiceWorker() {
                if (!('serviceWorker' in navigator)) {
                    console.warn("Service workers are not supported by this browser");
                    return
                }

                return navigator.serviceWorker.register('/service-worker.js')
            },
            getPushSubscription() {
                if (!('showNotification' in ServiceWorkerRegistration.prototype)) {
                    return new Promise((resolve, reject) => {
                        reject(new Error('Notifications are not supported.'));
                    })
                }

                if (Notification.permission === 'denied') {
                    return new Promise((resolve, reject) => {
                        reject(new Error('The user has blocked notifications.'));
                    })
                }

                if (!('PushManager' in window)) {
                    return new Promise((resolve, reject) => {
                        reject(new Error('Push notifications are not supported by this browser'));
                    })
                }

                return navigator.serviceWorker.ready.then((serviceWorkerRegistration) => {
                    return serviceWorkerRegistration.pushManager.getSubscription()
                        .then((subscription) => {
                            return subscription;
                        });
                });
            },
            subscribeUserToPush(subscription) {
                if (!subscription) {
                    return
                }

                let rawKey = subscription.getKey('p256dh');
                let rawAuthSecret =  subscription.getKey('auth');
                let endpoint = subscription.endpoint;

                post('/api/users/self/push-subscriptions', {
                    endpoint: endpoint,
                    key: rawKey ? btoa(String.fromCharCode.apply(null, new Uint8Array(rawKey))) : null,
                    token: rawAuthSecret ? btoa(String.fromCharCode.apply(null, new Uint8Array(rawAuthSecret))) : null,
                })
            }
        }
    }
</script>