<template>
    <div class="content">
        <h3 class="mb-4">My Account</h3>
        <div class="row">
            <div class="col-lg-6">
                <form @submit.prevent="save" novalidate>
                    <div class="form-group">
                        <img class="avatar" :src="avatar" v-show="avatar && !user.avatar_removed">
                        <label class="custom-file">
                            <input type="file" class="custom-file-input" :class="{ 'is-invalid' : errors.avatar }" @change="fileChanged">
                            <span class="custom-file-control"></span>
                        </label>
                        <button type="button" class="btn btn-link btn-sm" @click="user.avatar_removed = 1" v-show="avatar && !user.avatar_removed">Remove avatar</button>
                        <div class="invalid-feedback d-block" v-if="errors.avatar">
                            {{ errors.avatar[0] }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Your Name</label>
                        <input class="form-control" :class="{ 'is-invalid' : errors.name }" type="text" v-model="user.name"/>
                        <div class="invalid-feedback" v-if="errors.name">
                            {{ errors.name[0] }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Your Email</label>
                        <input class="form-control" :class="{ 'is-invalid' : errors.email }" type="text" v-model="user.email"/>
                        <div class="invalid-feedback" v-if="errors.email">
                            {{ errors.email[0] }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" name="password" class="form-control" :class="{ 'is-invalid' : errors.password }" v-model="user.password">
                        <div class="invalid-feedback" v-if="errors.password">
                            {{ errors.password[0] }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" name="password_confirmation" class="form-control" :class="{ 'is-invalid' : errors.password }" v-model="user.password_confirmation">
                    </div>
                    <button class="btn btn-primary" type="submit" :disabled="isProcessing">Submit</button>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    import { get, post } from '../../helpers/api'
    import { objectToFormData } from '../../helpers'
    import Flash from '../../helpers/flash'

    export default {
        beforeRouteLeave(to, from, next) {
            Flash.message = null;
            next()
        },
        created() {
            get('/api/users/self')
                .then((response) => {
                    this.user = response.data.data;
                    this.$set(this.user, 'avatar_removed', 0);
                    this.avatar = this.user.avatar;
                })
        },
        data() {
            return {
                user: {},
                errors: {},
                isProcessing: false,
                avatar: null
            }
        },
        methods: {
            save() {
                let formData = objectToFormData(this.user);

                if (typeof formData.get('avatar') === 'string') {
                    formData.delete('avatar')
                }

                this.isProcessing = true;

                post(`/api/users/self?_method=PUT`, formData)
                    .then((response) => {
                        if (response.data.success) {
                            Flash.setMessage(response.data.message, 'success');

                            this.isProcessing = false;
                            this.errors = {};
                            this.$set(this.user, 'avatar', null);
                            this.$emit('profilechanged')
                        }
                    })
                    .catch((error) => {
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors
                        }
                        this.isProcessing = false
                    })
            },
            fileChanged(e) {
                let files = e.target.files;

                if (files && files.length > 0) {
                    this.$set(this.user, 'avatar', files[0]);

                    post('/api/users/avatar', objectToFormData({ avatar: files[0] }))
                        .then((response) => {
                            if (response.data.success) {
                                this.avatar = response.data.data.avatar;
                                this.user.avatar_removed = 0;
                            }
                        })
                }
            }
        }
    }
</script>