<template>
    <div class="content">
        <h3 class="mb-4">Notifications</h3>
        <button
                @click="togglePush"
                :disabled="pushButtonDisabled || isProcessing"
                type="button" class="btn"
                :class="{ 'btn-primary': !isPushEnabled, 'btn-danger': isPushEnabled }">
            {{ isPushEnabled ? 'Disable' : 'Enable' }} Push Notifications
        </button>
    </div>
</template>
<script>
    import { post } from '../../helpers/api'
    import { urlBase64ToUint8Array }  from '../../helpers';

    export default {
        created() {
            this.getPushSubscription()
                .then((subscription) => this.subscribeUserToPush(subscription))
                .catch(e => {})
        },
        data() {
            return {
                isProcessing: false,
                isPushEnabled: false,
                pushButtonDisabled: true
            }
        },
        methods: {
            getPushSubscription() {
                if (!('showNotification' in ServiceWorkerRegistration.prototype)) {
                    return new Promise((resolve, reject) => {
                        reject(new Error('Notifications are not supported.'));
                    })
                }

                if (Notification.permission === 'denied') {
                    return new Promise((resolve, reject) => {
                        reject(new Error('The user has blocked notifications.'));
                    })
                }

                if (!('PushManager' in window)) {
                    return new Promise((resolve, reject) => {
                        reject(new Error('Push notifications are not supported by this browser'));
                    })
                }

                return navigator.serviceWorker.ready.then((serviceWorkerRegistration) => {
                    return serviceWorkerRegistration.pushManager.getSubscription()
                        .then((subscription) => {
                            this.pushButtonDisabled = false;

                            return subscription;
                        });
                });
            },
            subscribeUserToPush(subscription) {
                if (!subscription) {
                    return
                }

                this.isPushEnabled = true;

                let rawKey = subscription.getKey('p256dh');
                let rawAuthSecret =  subscription.getKey('auth');
                let endpoint = subscription.endpoint;

                this.isProcessing = true;

                post('/api/users/self/push-subscriptions', {
                    endpoint: endpoint,
                    key: rawKey ? btoa(String.fromCharCode.apply(null, new Uint8Array(rawKey))) : null,
                    token: rawAuthSecret ? btoa(String.fromCharCode.apply(null, new Uint8Array(rawAuthSecret))) : null,
                }).then(() => { this.isProcessing = false })
            },
            deleteSubscription(subscription) {
                this.isProcessing = true;

                post('/api/users/self/push-subscriptions/delete', { endpoint: subscription.endpoint })
                    .then(() => { this.isProcessing = false })
            },
            subscribe() {
                navigator.serviceWorker.ready.then((serviceWorkerRegistration) => {
                    serviceWorkerRegistration.pushManager.subscribe({
                        userVisibleOnly: true,
                        applicationServerKey: urlBase64ToUint8Array(window.vapidPublicKey)
                    })
                        .then((subscription) => this.subscribeUserToPush(subscription))
                        .catch(e => {
                            if (Notification.permission === 'denied') {
                                console.log('The user has blocked notifications.');
                                this.pushButtonDisabled = true
                            } else {
                                console.log('Unable to subscribe to push notifications.', e)
                            }
                        })
                });
            },
            unsubscribe() {
                navigator.serviceWorker.ready.then((serviceWorkerRegistration) => {
                    serviceWorkerRegistration.pushManager.getSubscription()
                        .then((subscription) => {
                            if (!subscription) {
                                this.isPushEnabled = false;
                                this.pushButtonDisabled = false;
                                return
                            }

                            subscription.unsubscribe().then(() => {
                                this.deleteSubscription(subscription)

                                this.isPushEnabled = false;
                                this.pushButtonDisabled = false
                            })
                        });

                });
            },
            togglePush() {
                if (this.isPushEnabled) {
                    this.unsubscribe()
                } else {
                    this.subscribe()
                }
            }
        }
    }
</script>