<template>
    <div class="content">
        <h3 class="mb-4">Subscriptions</h3>
        <ul class="list-group">
            <li class="list-group-item" v-for="subscription in subscriptions">
                <router-link :to="`/author/${subscription.author_id}`">
                    <img class="avatar" :src="subscription.author_avatar" v-if="subscription.author_avatar">
                    <span class="avatar" v-else>{{ subscription.author_name.charAt(0) }}</span>
                </router-link>
                <span>{{ subscription.author_name }}</span>
            </li>
        </ul>
    </div>
</template>
<script>
    import { get, post, del } from '../../helpers/api'

    export default {
        created() {
            this.getSubscriptions()
        },
        data() {
            return {
                subscriptions: []
            }
        },
        methods: {
            getSubscriptions() {
                get('/api/users/self/subscriptions')
                    .then((response) => {
                        this.subscriptions = response.data.data
                    })
            }
        }
    }
</script>