<template>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="content">
                <div class="page-header h3">Sign In</div>
                <form class="form-horizontal" @submit.prevent="login" novalidate>
                    <div class="form-group">
                        <label class="control-label" for="email">E-Mail</label>
                        <input class="form-control" :class="{ 'is-invalid' : errors.email }" id="email" type="email" name="email" v-model="user.email"/>
                        <div class="invalid-feedback" v-if="errors.email">
                            {{ errors.email[0] }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">Password</label>
                        <input class="form-control" :class="{ 'is-invalid' : errors.password }" id="password" type="password" name="password" v-model="user.password"/>
                        <div class="invalid-feedback" v-if="errors.password">
                            {{ errors.password[0] }}
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" :disabled="isProcessing">Log In</button>
                    </div>
                    Need an account? <router-link to="/register">Sign up</router-link>.
                    <div class="text-muted mt-4">
                        <p>Testing Accounts</p>
                        <div>jane.doe@app.com / secret</div>
                        <div>john.doe@app.com / secret</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script type="text/javascript">
    import { post } from '../../helpers/api'
    import Auth from '../../auth'

    export default {
        created() {
            if (Auth.logged()) {
                this.$router.push('/')
            }
        },
        data() {
            return {
                user: {
                    email: '',
                    password: ''
                },
                errors: {},
                isProcessing: false
            }
        },
        methods: {
            login() {
                this.isProcessing = true;
                this.errors = {};

                post('/api/login', this.user)
                    .then((response) => {
                        if (response.data.success) {
                            Auth.set(response.data.data.api_token, response.data.data.id);
                            this.$emit('profilechanged');
                            this.$router.push('/')
                        }
                        this.isProcessing = false
                    })
                    .catch((error) => {
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors
                        }
                        this.isProcessing = false
                    })
            }
        }
    }
</script>