<template>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="content">
                <div class="page-header h3">Sign Up</div>
                <form class="form-horizontal" @submit.prevent="register" novalidate>
                    <div class="form-group">
                        <label class="control-label" for="name">Name</label>
                        <input class="form-control" :class="{ 'is-invalid' : errors.name }" id="name" type="text" name="name" v-model="user.name" />
                        <div class="invalid-feedback" v-if="errors.name">
                            {{ errors.name[0] }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email">E-Mail</label>
                        <input class="form-control" :class="{ 'is-invalid' : errors.email }" id="email" type="email" name="email" v-model="user.email" />
                        <div class="invalid-feedback" v-if="errors.email">
                            {{ errors.email[0] }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">Password</label>
                        <input class="form-control" :class="{ 'is-invalid' : errors.password }" id="password" type="password" v-model="user.password" />
                        <div class="invalid-feedback" v-if="errors.password">
                            {{ errors.password[0] }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password-confirm">Confirm Password</label>
                        <input class="form-control" id="password-confirm" type="password" name="password_confirmation" v-model="user.password_confirmation"/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" :disabled="isProcessing">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script type="text/javascript">
    import { post } from '../../helpers/api'

    export default {
        data() {
            return {
                errors: {},
                user: {
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: ''
                },
                isProcessing: false
            }
        },
        methods: {
            register() {
                this.isProcessing = true;
                this.errors = {};

                post('/api/register', this.user)
                    .then((response) => {
                        if (response.data.success) {
                            this.$router.push('/login')
                        }
                        this.isProcessing = false
                    })
                    .catch((error) => {
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors
                        }
                        this.isProcessing = false
                    })
            }
        }
    }
</script>